<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Expense Tracker</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Syncfusion ASP.NET Core controls styles -->
	@*     <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.2.3/material.css" />*@
	<link href="https://cdn.syncfusion.com/ej2/25.2.3/bootstrap5-dark.css" rel="stylesheet" />

	<!-- Syncfusion ASP.NET Core controls scripts -->
	<script src="https://cdn.syncfusion.com/ej2/25.2.3/dist/ej2.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" />
</head>
<body>

	<partial name="_SideBar" />

	<nav class="navbar sticky-top bg-light mt-5">
		<div class="container-fluid py-2 px-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
			</svg>
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
					<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-fill" viewBox="0 0 16 16">
					<path d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
				</svg>

				<img class="profile-pic" src="~/avtar.jpg"/>
			</div>
		</div>
	</nav>

	<div class="main-content">
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="@(ViewData["isDashboard"] == null? "col-md-10":"col-md-12")">
					<main role="main" class="pb-3">
						@if(ViewData["isDashboard"] == null)
						{
						<div class="row">
							<div class="col-md-10">
								<div class="d-flex flex-column mb-5">
									<div class="d-flex mb-1">
										<div class="flex-grow-1">
											<h3 class="fw-bold">@ViewData["PageTitle"]</h3>
										</div>
										<div>
											@if (ViewData["PageActionText"] != null)
											{
												<a class="btn btn-success" href="@ViewData["PageActionUrl"]">@ViewData["PageActionText"]</a>
											}
										</div>
									</div>

									<ejs-breadcrumb id="breadcrumb" separatorTemplate="@Html.Raw("<span class='fw-bold'> > </span>")"></ejs-breadcrumb>

								</div>
							</div>
						</div>
						}
						@RenderBody()
					</main>
				</div>
			</div>
		</div>
	</div>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<ejs-scripts></ejs-scripts>

</body>
</html>
